<!-- b4-$ -->
<!doctype html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- fa5-$-css -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    {% block css %}{% endblock %}
</head>
<body>
    <!-- b4-nav-ul -->
    <ul class="nav justify-content-right", style="background-color:rgb(196, 235, 235);">
        <li class="nav-item">
            <a class="nav-link" href="#"><b><p style="color:rgb(17, 6, 6)">📑DOCAUTH</p></b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/home"><p style="color:rgb(17, 6, 6)">Home</p></a>
        </li>
        
        <!-- fife -->
        {% if not session.isauth %}
        <li class="nav-item">
            <a class="nav-link" href="/login"><p style="color:rgb(17, 6, 6)">Login</p></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/signup"><p style="color:rgb(17, 6, 6)">Register Here</p></a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="/logout"><p style="color:rgb(17, 6, 6)">Logout</p></a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link"  data-toggle="modal" data-target="#uploadModal"  ><p style="color:rgb(17, 6, 6)">Upload</p></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/"><p style="color:rgb(17, 6, 6)">Saved document</p></a>
        </li>
        {% endif %}
    </ul>

    {% include "notification.html" %}
    {% block body %}{% endblock %}
    <!-- dummy footer -->
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="#">footer link</a>
        </li>
    </ul>

    {% include "upload.html" %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- fa5-$-js -->
    <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js" integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a" crossorigin="anonymous"></script>
    <!-- animation engine -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script>
        $(function () {
            anime({
            targets: '.nav-item',
            margin:['5px','10px'],
            easing: 'easeInOutQuad',
            duration:300,
            
            });
        });
    </script>
    {% block js %}{% endblock %}

    
</body>
</html>

