<!DOCTYPE html>
<html>
<head>
	
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link rel="stylesheet" type="text/css" href="/static/css/menu.css">
	<link href="https://fonts.googleapis.com/css?family=Dancing+Script:700|Roboto&display=swap" rel="stylesheet">
</head>
<body>
	{% include "sidebar.html" %}
    <div class="container">
    	<div class="content">
    		<h2>Welcome</h2>
    		<p>DocAuth is a system to detect the manipulated images and documents using neural networks and verify the authenticity of the individual’s identity documents (Aadhar card, License, Passport,Marksheet,Certificates etc.) </p>
    		<a href="/ReadMore" class="btn">Read more</a>
    	</div>
    </div>
</body>
</html>