{% extends 'base.html' %}

{% block css %}
<style>
    .card-img-top{
        object-fit: cover;
    }
</style>
{% endblock %}
{% block body %}
<div class="container">
    <div class="row my-5">
        <div class="col-md-2 mx-auto">
            <div class="card">
                <img class="card-img-top" src="/static/images/upload.jpg" alt="">
                <div class="card-body p-1">
                    <a href="#"  data-toggle="modal" data-target="#uploadModal" class="btn btn-success btn-sm btn-block">Upload</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="/{{doc.path}}" alt="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="/{{ela_filename}}" alt="">
            </div>
        </div>
        <div class="col-md-2">
            <h1 class="display-1">{{session.last_prediction}} </h1>
            <p class="lead">Confidence {{confidence}}</p>
        </div>    
    </div>
</div>
{% endblock %}
{% block js %}
<style>
    
</style>
{% endblock %}