{% extends 'base.html' %}
{% block css %}
<style>
    body{
        background-color:rgb(33, 216, 216);
        background-image: url('/static/images/register_page_hero.svg');
        background-repeat: no-repeat;
        background-position: right;
    }
</style>
{% endblock css %}
{% block body %}
<u class="nav justify-content-center"></u>
<div class="container"><p>DocAuth is a type of software that is designed to verify the authenticity of documents.

    User can scan or upload the document to the document modification & authenticity verification software.

    The software will then examine various features of the document by Using Artificial Intelligence

    If the software detects any discrepancies or signs of forgery, it will Provide what Percentage Of manipulation is being Done.
    Finally, the results of the authenticity check should be recorded for future reference.
   </p>
   <p>The system is basically used in Organizational, Institutional and Government Systems as well as Student related fields such as Government Scholarship portals, e-KYC procedures, University Certificate Verification and Notary systems</p>
    <div class="row">
        <div class="col-md-10 mx-auto">
            
        </div>
    </div>
</div>
{% endblock %}

{% block js %}{% endblock %}
