{% extends 'base.html' %}
{% block css %}
<style>
    body{
        background-color:rgb(33, 216, 216);
        background-image: url('/static/images/register_page_hero.svg');
        background-repeat: no-repeat;
        background-position: right;
    }
</style>
{% endblock css %}
{% block body %}
<u class="nav justify-content-center"></u>
<div class="container"><p>DocAuth is a type of software that is designed to verify the authenticity of documents.

    User can scan or upload the document to the document modification & authenticity verification software.

    The software will then examine various features of the document by Using Artificial Intelligence

    If the software detects any discrepancies or signs of forgery, it will Provide what Percentage Of manipulation is being Done.
    Finally, the results of the authenticity check should be recorded for future reference.
   </p>
   <p>The system is basically used in Organizational, Institutional and Government Systems as well as Student related fields such as Government Scholarship portals, e-KYC procedures, University Certificate Verification and Notary systems</p>
   <p>This is a system to detect manipulated images and verify the authenticity of user’s documents based on neural network and image Error Level Analysis.</p>
    <p>Detects manipulated and photoshopped images and with 99% Accuracy.</p>
    
    <p>Gives detailed analysis report on the types on various manipulations occurring on images.</p>
    <p>Nowadays, people edit the documents or images using
        simple editing softwares such as Adobe Photoshop, etc. The
        documents or images are edited by coloring or splicing some
        parts of the documents as well as many people forged the
        individual’s identity documents such as Aadhar card or pan
        card by just adding a text field on the unique id of the
        document and giving it a fake id which is not possible to be
        catched by human eye. Also these documents have to be
        uploaded on various web portals repeatedly, and if the
        document is not correct then it has to be submitted again
        which is time consuming. So to detect such forged
        documents and reduce repeated submission of documents
        the proposed system is very relevant and useful.</p>
    <div class="row">
        <div class="col-md-10 mx-auto">
            
        </div>
    </div>
</div>
{% endblock %}

{% block js %}{% endblock %}
